body {
  min-height: 150vh;
}

button {
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  margin: 10px;
}

p {
  margin: 7px;
}

input,
select {
  padding: 10px;
  margin: 10px;
}

hr {
  background-color: #EF4423;
  border: 1px solid #EF4423;
}

.exchangePrice {
  font-size: 12px;
  color: green;
  margin-left: 15px;
}

.newPool>input {
  margin: 0;
}
